.another{
    color: red;
    background-color: cyan;
    width: 50%;    
}
h1{
    font-size: 50px;
    color: green;
    background-color: cyan;
    height: 50px;
    width: 75%;
    text-align: center;
}
h3{
    color: green;
    background-color: cyan;
    width: 50%;
}